body {
  background-color: #36384d;
  min-height: 100svh;
  display: grid;
  place-items: center;
  margin: 0;
}

@font-face {
  font-family: robotobold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoregular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

section {
  background-color: white;
  min-width: 60%;
  /* min-height: auto; */
  margin: 5%;
  border-radius: 5%;
}

.flex {
  display: flex;
  gap: 1em;
  align-items: center;
}

.left {
  width: 100%;
  padding: 0 5% 10px;
}

.right {
  width: 100%;
  padding: 1rem;
}

.img {
  max-width: 100%;
}

.text {
  font-family: robotoregular;
}

.text h1 {
  font-size: 3.5rem;
  margin-bottom: 0px;
  font-family: robotobold !important;
}

ul {
  list-style-image: url("./assets/images/icon-list.svg");
}

li {
  margin: 1rem 0;
}

.mail p {
  font-size: 0.7rem;
  font-family: robotobold;
}

.form-control {
  width: 98%;
  min-height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #242742;
  text-indent: 0.5rem;

  font-family: robotobold;
  font-size: 0.75rem;
}

input::placeholder {
  font-family: robotoregular;
  font-size: 0.7rem;
}

.btn {
  outline: none;
  border: none;
  width: 100%;
  margin-top: 1rem;
  min-height: 50px;
  /* background-color: #242742; */
  background: linear-gradient(204.47deg, #242742 0%, #242742 100%);
  color: white;
  border-radius: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  /* background: linear-gradient(to right, #ff6155, #ff6a3a) !important; */
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}
.img2 {
  display: none;
}

@media (max-width: 500px) {
  body {
    background-color: white;
  }
  section {
    width: 100%;
    border-radius: 0;
    margin: 0 0 2.5rem 0;
  }
  .flex {
    flex-direction: column-reverse;
  }
  .img {
    display: none;
  }
  .img2 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .left {
    padding: 0;
  }
  .right {
    padding: 0;
  }
  .text {
    padding: 0 6%;
  }
  .text h1 {
    font-size: 2.5rem;
  }
  ul {
    padding: 0 5%;
  }

  li {
    padding-bottom: 5%;
    font-size: 1rem;
  }
  .btn {
    min-height: 3.5rem;
    font-size: 1rem;
  }
  .form-control {
    min-height: 3rem;
  }
}
